

body
  { background-color: cadetblue;}

body
  { font-family: Trebuchet MS;}

body
  { color: white;}

body
  { font-size: 20px;}

img {
  height: auto;
  max-width: 100%;}

p {color:white;}

h1 {font-family: courier new;}

h2 {font-family: courier new;}
